html, body {
    margin: 0px;
    padding: 0px;
	font-family: 'Roboto Slab', serif;
}

.centered {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	color: #fff;
    text-align: center;
}

h1 {
    text-shadow: 2px 4px rgba(0,0,0,0.15);
	font-size: 42px;
	font-weight: normal;
    margin: 0px;
}

h1 strong {
	color: #ED6713;
}

h2 {
    margin: 10px 0px 0px;
	font-size: 24px;
    text-shadow: 2px 4px rgba(0,0,0,0.15);
	font-weight: normal;
}

.social {
    margin: 20px 0px 0px;
}

.social a {
    text-decoration: none;
}

.social a svg {
    width: 70px;
    height: 70px;
}

.overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: inset 0px 0px 14vw 4vw rgba(0,0,0,0.2);
    pointer-events: none;
}
