html, body {
    margin: 0px;
    padding: 0px;
	font-family: 'Roboto Slab', serif;
}

.centered {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	color: #FFF;
    text-align: center;
}

h1 {
    text-shadow: 2px 4px rgba(0,0,0,0.15);
	font-size: 42px;
	font-weight: normal;
    margin: 0px;
}

h1 strong {
	color: #ED6713;
}

h2 {
    margin: 10px 0px 0px;
	font-size: 22px;
    text-shadow: 2px 4px rgba(0,0,0,0.15);
	font-weight: normal;
}

.social {
    margin: 40px 0px 0px;
}

.social a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 8px;
}

.social a svg {
    width: 40px;
    height: 40px;
    fill: #111;
    transition: fill 0.2s ease;
}

.social a:hover svg {
    fill: #FFF;
}

.social a span {
    display: block;
    color: #999;
    font-size: 11px;
    padding: 3px 10px;
    margin: 5px 0px;
    font-family: Helvetica, Arial;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.1);
    background-color: #111;
    border-radius: 7px;
}

.social a:hover span {
    color: #FFF;
}

.overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: inset 0px 0px 14vw 4vw rgba(0,0,0,0.2);
    pointer-events: none;
}
