html, body {
    margin: 0px;
    padding: 0px;
}

h1 {
	color: #fff;
    text-shadow: 2px 4px rgba(0,0,0,0.15);
	font-weight: normal;
	font-family: 'Roboto Slab', serif;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	font-size: 42px;
}

h1 span {
    display: block;
    padding-top: 10px;
	font-size: 24px;
}

h1 strong {
	color: #ED6713;
}

.overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: inset 0px 0px 14vw 4vw rgba(0,0,0,0.2);
}
